.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
data/raw/*
data/landmarks/*
data/processed/*
data/features/*
data/splits/*
data/annotated/segmentation_viz/
data/annotated/*.npz
!data/*/.gitkeep
models/checkpoints/*
models/exported/*
!models/checkpoints/.gitkeep
!models/exported/.gitkeep
results/
tflite_models/
*.keras
.DS_Store
